* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FFE6BC;
  opacity: 0.9;
  background-image:  radial-gradient(#C3B091 1.6px, transparent 1.6px), radial-gradient(#C3B091 1.6px, #FFE6BC 1.6px);
  background-size: 64px 64px;
  background-position: 0 0,32px 32px;
}

.home-page__title,
.recipe-page__title {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #FC997C;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.home-page__wrapper {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.home-page__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  width: 20rem;
  height: 15rem;
}

.home-page__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
  -webkit-box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
  -moz-box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
}

.home-page__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #FC997C;
  width: 100%;
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.8px;
}

.home-page__link:hover {
  color: #FFE6BC;
  background-color: #DD4A48;
}


.recipe-page__link {
  color: #FFE6BC;
  text-decoration: none;
  font-size: 1.2rem;
}

.recipe-page__link:hover {
  color: #2B2B2B;
}

section {
  margin: 1rem 4rem;
}

.recipe-page__img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.recipe-page__img {
  border-radius: 10px;
  box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
  -webkit-box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
  -moz-box-shadow: 5px 6px 12px 0px rgba(189,189,189,0.74);
}

.recipe-page__content {
  background-color: #FC997C;
  color: #2B2B2B;
  padding: 2rem 4rem;
  border-radius: 10px;
  margin: 0 10rem 3rem 10rem;
}

.recipe-page__desc,
.recipe-page__list {
  margin-bottom: 1rem;
  letter-spacing: .5px;
  line-height: 1.8rem;
}

.recipe-page__sub-title {
  margin-bottom: .5rem;
  text-decoration: underline;
  font-size: 1.8rem;
}

.recipe-page__list > li {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .home-page__wrapper {
    flex-direction: column;
  }
  
  .home-page__links {
    margin-bottom: 2rem;
  }

  figure {
    width: 100%;
    height: 100%;
  }

  section {
    margin: 1.5rem;
  }

  .recipe-page__img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .recipe-page__img {
    width: 100%;
    height: 100%;
  }

  .recipe-page__content {
    margin: 0;
    padding: 2rem 2.5rem;
  }
}